.list-inline > li {
  display: inline-block;
  padding: 0px 15px;
}

.list-inline {
  list-style: none;
  text-align: center;
  padding: 20px 0px 0px 0px;
}

.footer {
  background-color: black;
  width: 100%;
  height: 200px;
}

.icons {
  font-size: 35px;
  color: red;
}

.footer p {
  color: white;
  text-align: center;
}
